@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.pokemon-container{
    border: 4px solid white;
    border-radius: 20px;
    width: 400px !important;
    background-color: #1F2937;
    color: white;
    text-transform: capitalize;
    font-family: 'Comfortaa', cursive;
    font-weight: 300 !important;
}
.pokemon-container img{
    width: 140px;
    height: 150px;
    border-radius: 90%;
    border: 10px solid #555;

    
}